$mainBgColor: #262E34;
$fontLightPurple : #F8F5EC;
$lightBlue : #89BCD9;
$BtnHoverBg : #F8F5EC1F;


h2 {
    margin-top: 72px;
    font-size: 54px;
    font-weight: 400;
    color: $lightBlue;

}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $fontLightPurple;
    font-family: 'Josefin Sans';
    font-weight: 600;

    img {
        margin-right: 8px;
    }
}

.fs30-lb {
    font-size: 30px;
    color: $lightBlue;
}

.why-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    max-width: clamp(320px, 90%, 1440px);
    opacity: 1;
    transition: opacity 0.1s cubic-bezier(0.0, 0.4, 0.165, 1), transform 0.2s ease;
}

.fade-out {
    opacity: 0;
}

.text-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    a {
        font-family: 'Josefin Sans';
        font-size: 18;
        color: #89BCD9;
        background-color: transparent;
        text-decoration: none;
        border: 1px solid $lightBlue;
        border-radius: 30px;
        padding: 13px 30px;
        transition: background-color 0.125s ease-in-out;

        &:hover {
            background-color: $BtnHoverBg;
        }
    }
}



.text-about-me {
    width: 30%;

    p {
        font-family: 'Josefin Sans';
        font-size: 18px;
        color: $fontLightPurple;
    }
}

.button {
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 1024px) {

    section{
        padding-top: 120px;
    }
    .text-area {
        flex-direction: column;
    }

    .button {

        display: none;
    }

    .text-about-me {
        width: 80%;
    }

    .why-me {
        height: auto;
    }



    h1 {
        padding-top: 220px;
    }

    h2{
        font-size: 48px;
    }


    .location {
        font-size: 18px;

        >img {
            margin-right: 24px;
        }
    }

}

@media (max-width: 652px) {
    .why-me {
        img {
            padding: 0 22px;
            margin: 0;
        }
    }

    .text-area {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 32px;
    }

    .fs30-lb {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
  h2 {
    font-size: 24px;
  }
}