<section class="why-me">
    <h1>Why me</h1>
    <div class="text-area">
        <div class="location">
            <img src="/assets/img/location/location.svg" alt="Location image">
            <span class="fs30-lb">I am &nbsp;</span>
            <span>located in Braunschweig..|</span>
        </div>
        <div class="text-about-me">            
            <p>
              Coding means endless learning and creativity for me. I love diving into new challenges, finding smart solutions, and seeing how even the toughest problems can be cracked with the right idea. Whether it's building something from scratch or working with clear guidelines — both spark my passion.
            </p>
            <div class="button">
                <a href="#contact">
                    Let´s talk
                </a>
            </div>
        </div>
    </div>
</section>
