<section class="why-me">
    <h1>Why me</h1>
    <div class="text-area">
        <div class="location">
            <img [src]="isMobile ? '/assets/img/location/location-mobil.svg' : '/assets/img/location/location.svg'" alt="Location image">
            <p>
                <span class="fs30-lb">I am &nbsp;</span>
                <span>located in Braunschweig..|</span>
            </p>
        </div>
        <div class="text-about-me">            
            <p>@if (global.language === 'en'){{{des.descriptionEn}}}@else {{{des.descriptionDe}}}</p>
            <div class="button">
                <a href="#contact">
                    Let´s talk 
                </a>
            </div>
        </div>
    </div>
</section>
