<section  class="why-me" [class.fade-out]="global.isTransitioningLanguage">
   @if (global.language === 'en') {
        <h2 >Why me?</h2>
    } @else {
        <h2 >Warum ich?</h2>
    }
    <div  appScrollFade class="text-area">
        <div class="location">
            <img [src]="isMobile ? '/assets/img/location/location-mobil.svg' : '/assets/img/location/location.svg'" alt="Location image">
            <p>
                @if (global.language === 'en') {
                    <span class="fs30-lb">I am &nbsp;</span>
                    <span>located in Braunschweig</span>
                } @else {
                    <span class="fs30-lb">Ich &nbsp;</span>
                    <span>lebe in Braunschweig</span> 
                }               
            </p>
        </div>
        <div class="text-about-me">            
            <p>@if (global.language === 'en'){{{des.descriptionEn}}}@else {{{des.descriptionDe}}}</p>
            <div class="button">
                @if (global.language === 'en') {
                    <a href="#contact">
                    Let´s talk 
                </a>
                } @else {
                    <a href="#contact">
                    Schreib mir 
                </a>}
            </div>
        </div>
    </div>
</section>


@if (global.language === 'en') {
                 
    } @else { 
                }               
           