<section> 
    <h1>My Projects</h1> 
  
    <div class="project-main-card">
      <nav>
        <button [class.active]="global.activeProject === 'Join'" (click)="global.setActiveProject('Join')" class="button">1. Join</button>
        <button [class.active]="global.activeProject === 'El Pollo Loco'" (click)="global.setActiveProject('El Pollo Loco')" class="button">2. El Pollo Loco</button>
        <button [class.active]="global.activeProject === 'Pokedex'" (click)="global.setActiveProject('Pokedex')" class="button">3. Pokedex</button>
        <button [class.active]="global.activeProject === 'Ongoing'" (click)="global.setActiveProject('Ongoing')" class="button">4. Ongoing Project</button>
      </nav>
  
      <div class="content-wrapper">
        <div class="content-inner" [ngClass]="{ 'fade-out': global.isTransitioning }">
              
          <div class="left-section">
            
              <div class="task"> 
                <div class="task-header">
                  <div class="bullet-point">
                    <img src="/assets/img/bg-img/project-bullet-point.svg" alt="bullet point">
                  </div>
                  <div class="task-title">
                    <h3>@if(global.language === 'en'){{{global.activeProjectData?.headlinesEn?.[0]}}}@else{{{global.activeProjectData?.headlinesDe?.[0]}}}</h3>
                    <span>
                      @if(global.language === 'en' && !isMobile){{{'Duration: ' + global.activeProjectData?.durationEn}}}
                      @else if(global.language === 'de' && !isMobile){{{'Dauer: ' + global.activeProjectData?.durationDe}}}
                    </span>
                  </div>
                </div>
                <p>@if(global.language === 'en'){{{global.activeProjectData?.aboutEn}}}@else{{{global.activeProjectData?.aboutDe}}}</p>
              </div> 
      
              <div class="task">
                <div class="task-header">
                  <div class="bullet-point">
                    <img src="/assets/img/bg-img/project-bullet-point.svg" alt="bullet point">
                  </div>
                  <div class="task-title">
                    <h3>@if(global.language === 'en'){{{global.activeProjectData?.headlinesEn?.[1]}}}@else{{{global.activeProjectData?.headlinesDe?.[1]}}}</h3>
                  </div>
                </div>
                <p>@if(global.language === 'en'){{{global.activeProjectData?.experienceEn}}}@else{{{global.activeProjectData?.experienceDe}}}</p>
              </div>
              
              <div class="task">
                <div class="task-header">
                  <div class="bullet-point">
                    <img src="/assets/img/bg-img/project-bullet-point.svg" alt="bullet point">
                  </div>
                  <div class="task-title">
                    <h3>@if(global.language === 'en'){{{global.activeProjectData?.headlinesEn?.[2]}}}@else{{{global.activeProjectData?.headlinesDe?.[2]}}}</h3>
                  </div>
                </div>
                <p>@if(global.language === 'en'){{{global.activeProjectData?.organizationEn}}}@else{{{global.activeProjectData?.organizationDe}}}</p>
              </div>
            </div>

          <div class="right-section">
            <div class="tools">             
               <p>@if(global.language === 'en'){Technologies}@else{Technologien}</p>
              <div class="icons-tools">@for (technologie of global.activeProjectData?.usedTechnologies; track $index) { 
                <img src="/assets/img/icons-skills/{{technologie}}.svg" alt="{{technologie}}">                
              }             
              </div>              
            </div>
            <div class="technologie-mobil">              
                <h1>{{global.activeProjectData?.projectname}}</h1>
              <div class="tool"> 
                <p>@if(global.language === 'en'){Technologies: }@else{Technologien: } 
                    @for (spelledOutTech of global.activeProjectData?.technologiesSpelledOut; track $index) {
                      <span>{{spelledOutTech}}<span *ngIf="!$last">,&nbsp;</span> </span> 
                    }
                </p> 
              </div>
            
              <p><span>@if(global.language === 'en'){Duration: }@else{Dauer: }</span>
                <span>@if(global.language === 'en'){{{global.activeProjectData?.durationEn}}}@else{{{global.activeProjectData?.durationDe}}}</span></p>             
          </div>
            <div class="project-image" (mouseenter)="hover = true" (mouseleave)="hover = false">
              <img
                class="static-img"
                [class.hidden]="hover"
                [src]="global.activeProjectData?.imgScreenshot"
                alt="Project Screenshot"
              />
              <img
                class="gif-img"
                [class.hidden]="!hover"
                [src]="global.activeProjectData?.gifProject"
                alt="Project GIF"
              />
            </div>
            <div [class.hidden]="global.activeProject === 'Ongoing'" class="links">
              <a href="link-zur-live-seite" target="_blank">Live Test</a>
              <a href="link-zu-github" target="_blank">GitHub</a>
            </div>
          </div> 
    
        </div>
        <div [class.hidden]="global.activeProject === 'Ongoing'" class="links-mobile">
          <a href="link-zur-live-seite" target="_blank">Live Test</a>
          <a href="link-zu-github" target="_blank">GitHub</a>
        </div>
      </div> 
  
    </div> 
    
  </section>
  