<section [class.fade-out]="global.isTransitioningLanguage">
    <div  class="contact-main">
        <div class="headline">
            @if (global.language === 'en') { <h2>Contact me</h2>  } @else { <h2>Kontakt</h2> }
            <a class="arrow-up"(mouseover)="arrowIsHovered = true" (mouseout)="arrowIsHovered = false" href="#atf">
                <img 
                [src]="arrowIsHovered ? '/assets/img/arrows/arrow-up-hover.png' : '/assets/img/arrows/arrow-up-default.png'" 
                alt="Arrow up">
                </a>
            </div>

            <div appScrollFade class="description">
                <div class="contact-me-text">
                    <p>@if(global.language === 'en'){{{contacMeTextEn}}}@else{{{contacMeTextDe}}}</p>
                </div>
                <div class="contact-data">
                    <div class="email" (mouseover)="mailIsHovered = true" (mouseout)="mailIsHovered = false">                        
                        <a href="mailto: mail@felix-oppermann.com"><img 
                            [src]="mailIsHovered ? '/assets/img/icon-contact/mail-hover.svg' : '/assets/img/icon-contact/mail.svg'" alt="Mail">
                            <span>{{'E-Mail: mail@felix-oppermann.com'}}</span>
                        </a>
                    </div>
                    <div (mouseover)="phoneIsHovered = true" (mouseout)="phoneIsHovered = false" class="phone">
                        <img [src]="phoneIsHovered ? '/assets/img/icon-contact/phone-hover.svg' : '/assets/img/icon-contact/phone.svg'" alt="Phone">
                        <span>Tel: 0178 1666079</span>
                    </div>
                </div>
            </div>


            <form appScrollFade [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                
               <div class="input-data">
                    <div class="form-field">
                        <label for="email">
                        <ng-container class="input-error" *ngIf="(contactForm.get('email')?.errors?.['required'] && (contactForm.get('email')?.touched || submitted))">
                          <div class="input-error">@if(global.language === 'en') { Email is required.} @else {Bitte E-Mail-Adresse angeben.}</div>
                        </ng-container>
                        <ng-container class="input-error" *ngIf="(contactForm.get('email')?.errors?.['email'] && !contactForm.get('email')?.errors?.['required'] && (contactForm.get('email')?.touched || submitted))">
                            <div class="input-error">@if(global.language === 'en') {Invalid email format.} @else {Falsches E-Mail-Format.}</div>
                        </ng-container>
                        <ng-container *ngIf="!contactForm.get('email')?.errors || (!contactForm.get('email')?.touched && !submitted)">
                            Email
                        </ng-container>
                        </label>
                      <input
                          type="email"
                          id="email"
                          formControlName="email"
                          [attr.placeholder]="getDynamicPlaceholder('email')"
                          [ngClass]="{
                            'responsive-placeholder': true,
                            'placeholder-error': contactForm.get('email')?.invalid && (contactForm.get('email')?.touched || submitted),
                            'border-error': contactForm.get('email')?.invalid && (contactForm.get('email')?.touched || submitted)
                          }"
                        />
                    </div>    
                    
                    <div class="form-field">
                        <label for="name">
                            <ng-container  *ngIf="(contactForm.get('name')?.errors?.['required'] && (contactForm.get('name')?.touched || submitted))">
                           <div class="input-error"> @if(global.language === 'en') {Your Name is required.} @else {Bitte Namen eingeben.}</div>
                            </ng-container>
                            <ng-container *ngIf="!contactForm.get('name')?.errors || (!contactForm.get('name')?.touched && !submitted)">
                            @if(global.language === 'en') {Your name} @else {Name}
                            </ng-container>
                        </label>
                        <input
                          type="text"
                          id="name"
                          formControlName="name"
                          [attr.placeholder]="getDynamicPlaceholder('name')"
                          [ngClass]="{
                            'responsive-placeholder': true,
                            'placeholder-error': contactForm.get('name')?.invalid && (contactForm.get('name')?.touched || submitted),
                            'border-error': contactForm.get('name')?.invalid && (contactForm.get('name')?.touched || submitted)
                          }"
/>
                    </div>
               </div>
               
                <div class="form-field">
                  <label for="message">
                    <ng-container  *ngIf="(contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || submitted))">
                      <div class="input-error">@if(global.language === 'en') { Message is required.} @else {Bitte Nachricht eingeben.}</div>
                       </ng-container>
                       <ng-container *ngIf="!contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || submitted)">
                        @if(global.language === 'en') {Message} 
                        @else {Nachricht}
                       </ng-container>
                  </label>
                  <textarea 
                          id="message"
                          type="text"
                          formControlName="message"
                          [attr.placeholder]="getDynamicPlaceholder('message')"
                          rows="5"
                          [ngClass]="{
                                      'responsive-placeholder': true,
                                      'placeholder-error': contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || submitted),
                                      'border-error': contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || submitted)
                                    }"
                  ></textarea>
                </div>

                <div class="form-field checkbox">
                  <input 
                    type="checkbox" 
                    id="customCheckbox" 
                    formControlName="privacyPolicy" 
                    hidden
                  />
                
                  <label
                    for="customCheckbox"
                    class="custom-checkbox"                    
                  >
                    <img 
                    (mouseenter)="isCheckboxHovered = true"
                    (mouseleave)="isCheckboxHovered = false"
                    [src]="getCheckboxImage()" alt="Checkbox state" 
                    />                
                    @if (global.language === 'en') {<p>I've read the <a href="privacy"> privacy policy </a> and agree to the processing of my data as outlined.</p>} 
                    @else {<p>Ich habe die <a href="privacy">Datenschutzerklärung</a> gelesen und stimme der Verarbeitung meiner Daten zu.</p>}
                  </label>
                
                  <div class="error" *ngIf="hasPrivacyError()">
                    Please accept the privacy policy.
                  </div>
                </div>
                  
                <div class="button-wrapper">
                  <button [ngClass]="{ 'disabled': contactForm.invalid }" type="submit">
                    @if (global.language === 'en') {Send} @else {Absenden}</button>
                </div>
              </form>  

              <a  href="#why-me" class="arrow-up-mobile">
                <img src="/assets/img/arrows/arrow-up-default.png" alt="" class="icon default">
                <img src="/assets/img/arrows/arrow-up-hover.png" alt="" class="icon hover">
              </a>
    </div>
        <div class="toast" *ngIf="showToast">
            <div class="toast-content">
                <img src="/assets/img/icon-contact/pp-checked.svg" alt="Success icon">
                <p>@if (global.language === 'en') {Your message has been sent successfully.} @else {Ihre Nachricht wurde erfolgreich gesendet.}</p>
            </div>
        </div>
</section>
