section{
    display: flex;
}

.arrow-up{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: 0.2s all ease-in-out;
    &:hover{
        opacity: 1;       
    }    
}

