<section>
    <h2>Need a teamplayer? @if(!isMobile){Here what my colleagues said about me}</h2>
    @if (isMobile) {<h3>Here what my colleagues said about me</h3>}
    <div class="ref-main">        
        @for (ref of refs; track $index) {
            <div class="single-ref">
            <h3>{{ref.name}}</h3>
            <p>@if (global.language === 'en') {Project }@else {Projekt }<span>{{ref.project}}</span></p>
            <p>@if (global.language === 'en') {{{ref.referenceEn}}}@else {{{ref.referenceDe}}} </p>
            <a href="{{ref.link}}">Linked in profil</a>
        </div>
        }        
    </div>
</section>
