<section class="footer-section">
  <footer>
    <div class="footer-content">
      <div class="left-section-wrapper">
        <a href="legal-notice">@if (global.language === 'en') {Legal notice} @else {Impressum}</a>
        <p>© Felix Oppermann 2025</p>
      </div>


      <a href="#atf" class="logo">
        <app-logo 
        signSrc="/assets/img/logo/logo-dark.svg"
        textColor="dark">
      </app-logo>
      </a>      

      <div class="link-wrapper">
        <a href="https://github.com/Auprman" target="_blank " rel="noopener"
          (mouseenter)="githubHovered = true" (mouseleave)="githubHovered = false">
          <img [src]="githubHovered ? '/assets/img/social media buttons/github/gh-white.png' : '/assets/img/social media buttons/github/gh-dark.png'" alt="GitHub">
        </a>
        <a href="mailto: mail@felix-oppermann.com" target="_blank " rel="noopener"
          (mouseenter)="mailHovered = true" (mouseleave)="mailHovered = false">
          <img [src]="mailHovered ? '/assets/img/social media buttons/mail/mail-white.png' : '/assets/img/social media buttons/mail/mail-dark.png'" alt="Mail">
        </a>
        <a href="https://www.linkedin.com/in/felix-oppermann-54bab31a6/" target="_blank " rel="noopener"
          (mouseenter)="linkedinHovered = true" (mouseleave)="linkedinHovered = false">
          <img [src]="linkedinHovered ? '/assets/img/social media buttons/linkedin/li-white.png' : '/assets/img/social media buttons/linkedin/li-dark.png'" alt="LinkedIn">
        </a>
      </div>

      <div class="link-wrapper-mobile">
        <a href="https://github.com/Auprman" target="_blank " rel="noopener">
          <img src="/assets/img/social media buttons/github/gh-mobile.png" alt="GitHub">
        </a>
        <a href="mailto: mail@felix-oppermann.com" target="_blank " rel="noopener">
          <img src="/assets/img/social media buttons/mail/mail-mobile.png" alt="Mail mobile">
        </a>
        <a href="https://www.linkedin.com/in/felix-oppermann-54bab31a6/" target="_blank " rel="noopener">
          <img src="/assets/img/social media buttons/linkedin/li-mobile.png" alt="Linkedin mobile">
        </a>
      </div>     

      <div class="legal-notice-mobile">
        <a href="legal-notice">@if (global.language === 'en') {Legal notice} @else {Impressum}</a>
        <p>© Felix Oppermann 2025</p>
      </div>

    </div>
  </footer>
</section>