<div class="main-container-atf">
  
  
    <div class="left-section">
        <img id="mypic" src="/assets/img/mypic/mypic.png" alt="my picture">
        <!-- <div class="bg-photo">
            <img src="/assets/img/bg-img/bg-default.png" alt="default background">
            <img src="/assets/img/bg-img/bg-hover.png" alt="hover background">
        </div> -->
    </div>


    <div class="right-section">
        <div class="logo">
            <div class="logo-sign">
                <img src="/assets/img/logo/vector29.svg" alt="braces">                
            </div>
            <div class="logo-lettering">
                <span class="fontAnta">F.Oppermann</span>
                <span class="fontJSans">developer</span>
            </div>
        </div>
    </div>
 
  



</div>
