#mypic{
    display: block;
    background-color: transparent;
    max-height: 70vh;
}

.left-section{
    background-image: url('/assets/img/bg-img/bg-default.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.fontAnta{
    font-family: 'Anta';
}

.fontJSans{
    font-family: 'Josefin Sans';
}
.logo{
    top: 20vh;
    left: 80vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 66px;
    height: 73px;    
    background-color: transparent;    
}

.logo-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
    img{
        background-color: transparent;
    }
}
.logo-braces{
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-lettering{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

    >span{        
        font-size: 16px;
        background-color: transparent;
        color: aliceblue;
        &:nth-child(2){
            color: #89BCD9;
        }
    }
    
}
.fw500{
    font-weight: 500;
}