$mainBgColor: #262E34;
$fontLightPurple : #F8F5EC;

h1{
    font-family: Anta;
    font-size: 88px;
    color: $fontLightPurple;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
    cursor: default;
}
h2{
    font-family: Josefin Sans;
    font-size: 40px;
    color: $fontLightPurple;
    font-weight: 400;
    text-align: center;
    cursor: default;
}

#mypic {
    display: block;
    background-color: transparent;
    max-height: 50vh;
}

.main-container-atf {
    margin-top: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: clamp(320px, 90%, 1440px);
}

.left-section {
    position: relative;
    background-image: url('/assets/img/bg-img/bg-default.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 70vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: background-image 0.3s ease-in-out;

    &:hover {
      background-image: url('/assets/img/bg-img/bg-hover.png'); 
    }

    > * {
      position: relative;
      z-index: 2;
    }
}

.fontAnta {
    font-family: 'Anta';
}

.fontJSans {
    font-family: 'Josefin Sans';
}


.fw500 {
    font-weight: 500;
}

.right-section {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    position: relative;
}

.upper-section {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex-direction: column;
    gap: 16px;
    position: absolute; 
    right: 0; 
    &:nth-child(1){
        right: 50%;
        height: 89px;
        width: 38px;
    }

    a {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;

      .icon {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.125s ease;
        width: 30px;
        height: 30px;
      }

      .hover {
        opacity: 0;
      }

      &:hover .hover {
        opacity: 1;
      }

      &:hover .default {
        opacity: 0;
      }
    }
    .arrow-down{
        img{
            width: 39px;
            height: 89px;
        }
    }
    
}

.lower-section {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
