<div class="main-container-atf">
  
    <div class="left-section">
      <img id="mypic" src="/assets/img/mypic/mypic.png" alt="my picture">       
    </div>
  
    <div class="right-section">
      <div class="upper-section">        
        <app-logo></app-logo>
            <div class="links">
                <a class="mail-anker" href="">
                <img class="icon default" src="/assets/img/social media buttons/mail/mail-default.png" alt="Mail Default">
                <img class="icon hover" src="/assets/img/social media buttons/mail/mail-hover-blue.png" alt="Mail Hover">
                </a>
                <a class="github-anker" href="">
                <img class="icon default" src="/assets/img/social media buttons/github/gh-default.png" alt="GitHub Default">
                <img class="icon hover" src="/assets/img/social media buttons/github/gh-hover-blue.png" alt="GitHub Hover">
                </a>
                <a class="linkedin-anker" href="">
                <img class="icon default" src="/assets/img/social media buttons/linkedin/li-default.png" alt="LinkedIn Default">
                <img class="icon hover" src="/assets/img/social media buttons/linkedin/li-hover-blue.png" alt="LinkedIn Hover">
                </a>
            </div>
        </div>
        <div class="middle-section">
            <h1>Felix Oppermann</h1>
            <h2>FRONTEND DEVELOPER</h2>
        </div>
        <div class="lower-section">
            <div class="links">
                <a class="arrow-down" href="">
                    <img class="icon default" src="/assets/img/arrows/arrow-down-default.png" alt="">
                    <img class="icon hover" src="/assets/img/arrows/arrow-down-hover.png" alt="">
                </a>
            </div>
        </div>
    </div>
  
  </div>