<div class="main-container-atf">
  
  
    <div class="left-section">
        <img id="mypic" src="/assets/img/mypic/mypic.png" alt="my picture">
        <div class="bg-photo">
            <img src="/assets/img/bg-img/bg-default.png" alt="default background">
            <img src="" alt="hover background">
        </div>
    </div>


    <div class="right-section">
        <div class="logo">
            <div>
                <img src="" alt="braces">
                <img src="" alt="sign">
            </div>
            <div class="logo-lettering">
                <p>F.Oppermann</p>
                <p>developer</p>
            </div>
        </div>
    </div>
 
  



</div>
