<section> 
    <h1>My Skills</h1> 
    <div class="skills">          
        <div class="left-section-skills">
            @for (skill of skills; track $index) {
                    <div class="symbol">
                        <img src="{{skill.path}}" alt="{{skill.name}}-symbol">
                        <p>{{skill.name}}</p>
                    </div>
                }
        </div>
        <div class="right-section">
            <div class="right-section-current">
                <p>@if (global.language === 'en') {I am currently learning}@else {Momentan lerne ich}</p>
                <div class="skill-symbols">
                    @for (skill of currentlyLearning; track $index) {
                        <div class="symbol">
                            <img src="{{skill.path}}" alt="{{skill.name}}-symbol">
                            <p>{{skill.name}}</p>
                        </div>
                    }
                </div>            
                <p>@if (global.language === 'en') {{{descriptionEn}}}@else {{{descriptionDe}}}</p>
            </div>
        </div>
    </div>
</section>
